.homepanel {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    overflow-y: auto;
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width:600px){
    .homepanel {
    display: flex;
    flex-direction: column;
  
    
}

}

.listpanel {
    flex: 1;
    overflow-y: auto;
}

.filterpanel {
    width: 25%;
    overflow-y: visible;
    overflow-x: visible;
    text-align: center;
    z-index: 9999;
}

::-webkit-scrollbar {
    display: none;
}

.home {
    width: 74%;
    margin-left: 2%;
}